.memberName {
    margin: 4px 0 9px 0;
    word-break: break-all;
}

.lobbyAvatars {
    width: 90px;
    border-radius: 45px;
}

#activityIndicator {
    content: " ";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid  black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  